
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');


html {
	font-family: 'Open Sans', sans-serif;
}


strong{
	font-weight:900;
}


p{
	line-height:1.5;
	color:rgb(60,60,60);
	margin-top:1.5;
}


.card{
	border:1px solid rgb(220,220,220);
	border-radius:3px;
	padding:20px;
	margin-top:16px;
	margin-bottom:16px;
	text-decoration: none !important;
	background-color:white;

	-webkit-box-shadow: 0 2px 2px -2px blue;
	   -moz-box-shadow: 0 2px 2px -2px blue;
	        box-shadow: 0 2px 2px -2px blue;

}


.card:hover{
	border:1px solid blue;
}